<h1>Panel administrador</h1>
<p>¿Qué desea hacer?</p>
<ul>
  <li><a href="/api/products/new">Crear un producto</a></li>
  <li><a href="/api/products/update">Actualizar un producto</a></li>
  <li><a href="/api/products/delete">Borrar un producto</a></li>
</ul>