<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Home</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <h1>Bienvenidos a la tienda</h1>
    <ul>
      <li><a href="/login">Iniciar Sesión</a></li>
      <li><a href="/register">Registrarse</a></li>

    </ul>
  </body>
</html>