<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet" href="/css/index.css" />
  </head>
  <body>
    <form action="/api/products" method="post" enctype="multipart/form-data">
      <input type="text" name="title" placeholder="Título del producto" />
      <label for="category">Categoría del producto:</label>
<select name="category" id="category">
  <option value="Samsung">Samsung</option>
  <option value="Motorola">Motorola</option>
  <option value="Xiaomi">Xiaomi</option>
  <option value="ZTE">ZTE</option>
  
</select>
      
      <textarea
        name="description"
        id="title"
        cols="30"
        rows="10"
        placeholder="Descripción del producto"
      ></textarea>
      <input type="text" name="price" placeholder="Precio del producto" />
      <input type="text" name="stock" placeholder="Stock del producto" />
      <input type="file" name="image" />
      <input type="submit" value="Crear producto" />
    </form>
  </body>
</html>