{{#if products.length}}
  <ul>
    {{#each products}}
      <li><a href="/api/products/{{this._id}}">{{this.title}}</a></li>
    {{/each}}
  </ul>
{{else}}
  <p>No hay productos disponibles en este momento.</p>
{{/if}}