<h1>Registrarse</h1>

<form action="/api/sessions/register" method="POST">
<input type="text" name="first_name" placeholder="Nombres"><br>
<input type="text" name="last_name" placeholder="Apellido"><br>
<input type="number" name="age" placeholder="Edad"><br>
<input type="text" name="email" placeholder="Email"><br>
<input type="password" name="password" placeholder="Password"><br>
<input type="submit" value="Registrarse">
</form>